body {
  padding: 0px;
}

a {
  color: #208075;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://i.imgur.com/hH89jXC.png");
  background-size: cover;
  color: white;
  font-size: 24px;
}

p {
  font-size: 16px;
}

header > a {
  color: #d1e5e1;
}

header,
main {
  padding: 50px;
}

dt {
  padding: 4px 0;
  font-weight: bold;
}
